@inherits LayoutComponentBase

<MudThemeProvider Theme="darkTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="bg">
        <MudPaper Style="background-color: transparent;" Elevation="0">
            <MudDrawerContainer Class="mud-height-full">
                <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Width="auto">
                    <MudNavMenu>
                        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home">Home</MudNavLink>
                        <MudNavGroup Title="Introductie" Icon="@Icons.Filled.AssignmentInd" Expanded="false">
                            <MudNavLink Href="Introductie/Voorwoord" Icon="@Icons.Filled.People">Voorwoord</MudNavLink>
                            <MudNavLink Href="Introductie/Inleiding" Icon="@Icons.Filled.LocalLibrary">Inleiding</MudNavLink>
                        </MudNavGroup>
                        <MudNavLink Href="stageplan" Icon="@Icons.Filled.Assignment">Stageplan</MudNavLink>
                        <MudNavGroup Title="Leerdoelen" Icon="@Icons.Custom.Uncategorized.Folder" IconColor="Color.Warning" Expanded="false">
                            <MudNavGroup Title="Competentie I: Manage en Control" Icon="@Icons.Custom.Uncategorized.Folder" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Manage-en-Control/SVN" Icon="@Icons.Filled.AssignmentLate">SVN</MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Competentie II: Analyseren" Icon="@Icons.Custom.Uncategorized.Folder" IconColor="Color.Warning" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Analyseren/Requirementsanalyse" Icon="@Icons.Filled.AssignmentLate" IconColor="Color.Warning">Requirementsanalyse</MudNavLink>
                                <MudNavLink Href="Leerdoelen/Analyseren/Onderzoek" Icon="@Icons.Filled.AssignmentLate" IconColor="Color.Warning">Onderzoek</MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Competentie III: Adviseren" Icon="@Icons.Custom.Uncategorized.Folder" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Adviseren/Adviesrapport" Icon="@Icons.Filled.AssignmentLate">Adviesrapport</MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Competentie IV: Ontwerpen" Icon="@Icons.Custom.Uncategorized.Folder" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Ontwerpen/UML-diagrammen" Icon="@Icons.Filled.AssignmentLate">UML-diagrammen</MudNavLink>
                                <MudNavLink Href="Leerdoelen/Ontwerpen/ERD" Icon="@Icons.Filled.AssignmentLate">ERD</MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Competentie V: Realiseren" Icon="@Icons.Custom.Uncategorized.Folder" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Realiseren/Implementatie" Icon="@Icons.Filled.AssignmentLate">Implementatie</MudNavLink>
                                <MudNavLink Href="Leerdoelen/Realiseren/Nieuwe-technologie" Icon="@Icons.Filled.AssignmentLate">Nieuwe technologie</MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Competentie VI: Professional Skills" Icon="@Icons.Custom.Uncategorized.Folder" IconColor="Color.Warning" Expanded="false">
                                <MudNavLink Href="Leerdoelen/Professional-Skills/Werkwijze-regels-procedures" Icon="@Icons.Filled.AssignmentLate" IconColor="Color.Warning">Werkwijze, regels en procedures</MudNavLink>
                                <MudNavLink Href="Leerdoelen/Professional-Skills/Zelfstandigheid" Icon="@Icons.Filled.AssignmentLate">Zelfstandigheid</MudNavLink>
                            </MudNavGroup>
                        </MudNavGroup>
                        <MudNavLink Href="advies" Icon="@Icons.Filled.NoteAlt">Advies</MudNavLink>
                        <MudSpacer />
                        <MudNavLink Href="https://github.com/WingmanChung" Target="blank" Icon="@Icons.Custom.Brands.GitHub">Wing Man's Github</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>
            </MudDrawerContainer>
            <div class="mud-height-full" style="margin-left: 300px; margin-right: 300px;">
                <div class="content">
                    @Body
                </div>
            </div>
        </MudPaper>
        <MudScrollToTop>
            <MudFab Color="Color.Tertiary" Icon="@Icons.Filled.ArrowCircleUp" />
        </MudScrollToTop>
    </div>
</div>

@code
{
    public bool open = false;

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            DrawerBackground = "#333333",
            DrawerText = "rgba(255,255,255, 0.75)",
            DrawerIcon = "rgba(255,255,255, 0.75)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}